.banner {
  height: 70vh;
  width: 100%;
  color: white;
}

.banner_contents {
margin-left: 10px;
padding-top: 200px;
height: 170px;

}
.banner_title {
  text-align: left;
font-size: 2rem;
font-weight: 700;
padding-bottom: 0.3rem;

}

.banner_description {
  text-align: left;
width: 45rem;
font-size: 1rem;
line-height: 1.3rem;
max-width: 360px;
height: 80px;
}

.banner_button{
 cursor: pointer;
 color: #fff;
 outline: none;
 border: none;
 font-weight: 700;
 border-radius: 0.2vw;
 padding-left: 2rem;
 padding-right: 2rem;
 margin-right: 1rem;
 padding-top: 0.5rem;
 background-color: rgb(51, 51, 51, 0.5);
 padding-bottom: 0.5rem;
 
}

.banner_button:hover {
   color: #000;
   background-color: #e6e6e6;
   transition: all 0.2s;
}

